input[type=text] {
    background-color: white;
    /* background-image: url('searchicon.png'); */
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 0px;
    font-size: 25px;
    border: 2px solid gray;
    border-radius: 5px;
  }
  input[type=password] {
    background-color: white;
    /* background-image: url('searchicon.png'); */
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 0px;
    font-size: 25px;
    border: 2px solid gray;
    border-radius: 5px;
  
  }